[user]
        email = marcus.grass@protonmail.com
        name = MarcusGrass
        signingkey = FACCA2251A22CE22C9F1ACD5E62BD8820A76962F!
[pull]
        rebase = true
[push]
        default = current
[rerere]
        enabled = true
[core]
        autocrlf = input
[commit]
        gpgsign = true
