[user]
        email = marcus.grass@protonmail.com
        name = MarcusGrass
        signingkey = 9069E1A25A239665045BAA62B3F995FE064E3AA9!
[pull]
        rebase = true
[push]
        default = current
[rerere]
        enabled = true
[core]
        autocrlf = input
[commit]
        gpgsign = true
