XTerm*background: Grey19
XTerm*foreground: LightCyan3
XTerm*faceName: JetBrainsMonoNL Nerd Font Mono:style=Regular:size=12:antialias=true
XTerm*cursorTheme: Adwaita
Xcursor.size: 32
XTerm*pointerShape: left_ptr
XTerm*selectToClipboard: true
